---
import BasicLayout from "../layouts/BasicLayout.astro";
---
<BasicLayout fixed={true}>
	<img src="/Gradient.webp" class="background" />
	
	<section class="hero">
		<div class="outer">
			<div class="inner">
				<h1>T-10. Forever.</h1>
				<p>We're a FIRST Tech Challenge (FTC) high school robotics team (#4096) based at Needham High School in Needham, MA.</p>

				<div class="row">
					<a href="/blog" class="highlighted">Blog</a>
					<a href="/sponsors">Sponsors</a>
				</div>
			</div>
		</div>
	</section>
</BasicLayout>

<style>
	.hero {
		width: 100%;
		height: 100vh;
		color: var(--text-color);
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: 1;
	}

	.outer {
		display: flex;
	}

	.inner {
		max-width: 750px;
		margin: auto;
		padding: 4rem;
	}

	.row {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.row a {
		padding: 0.75em 1.5em;
		text-decoration: none;
		color: var(--text-color);
		border: 1px solid var(--text-color);
	}

	.row a.highlighted {
		background: var(--text-color);
		color: var(--background);
		transition: color 0.15s ease,
					background 0.15s ease,
					border 0.15s ease;
	}

	.row a:hover {
		--text-color: var(--accent);
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		border-radius: 0;
		z-index: -1;
	}

	@media (max-width: 1500px) {
		.hero {
			display: flex;
			text-align: center;
		}

		.outer {
			margin: auto;
		}

		.row {
			justify-content: center;
		}
	}
</style>