---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
    title="Our Sponsors"
    description="T-10's list of sponsors"
    pubDate={new Date("Aug 18 2023")}
    updatedDate={new Date("Aug 23 2023")}
>
<a href="https://www.lrig.org/">Laboratory Robotics Interest Group</a>
<a href="https://www.analog.com/en/index.html">Analog Devices</a>

</Layout>
