---
import { getImage } from "astro:assets";
import { SITE_TITLE } from "../consts";

const today = new Date();

import logoImage from "../../public/images/favicon/black.png";
---

<footer
  class="bg-gray-800 mt-4 h-20 mx-auto w-full text-white relative overflow-hidden"
>
  <img
    src={logoImage.src}
    class="invert h-[150%] absolute top-1/2 -translate-y-1/2 left-10 opacity-50"
    alt="T-10 Robotics logo"
  />

  <div class="flex items-center w-full h-full p-4">
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </div>
</footer>
