---
import { SITE_TITLE } from "../consts";

const today = new Date();
---

<footer class="bg-gray-800 my-4 p-8 mx-auto max-w-[96rem] rounded-xl text-white relative">
	<img src="/images/favicon/black.png" class="invert h-[150%] absolute top-1/2 -translate-y-1/2 left-2 opacity-50" alt="T-10 Robotics logo" />

	<div>
		&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.
	</div>
</footer>