---
import ArrowUpRightBold from "phosphor-astro/ArrowUpRightBold.astro";

interface Props {
  color?: "white" | "primary" | "danger";
  href: string;
}

let { color, href } = Astro.props;
color = color ?? "white";

const colorClassObject = {
  "bg-white text-black": color === "white",
  "bg-blue-400 text-black": color === "primary",
  "bg-red-400 text-white": color === "danger",
};
---

<a
  href={href}
  class:list={[
    "flex w-full md:w-fit justify-center md:inline-flex items-center gap-2 font-primary font-bold text-2xl md:text-3xl py-4 px-6 rounded-xl uppercase hover:brightness-90",
    colorClassObject,
  ]}
>
  <slot />

  <div class="w-8 h-8 overflow-hidden">
    <div class="relative w-full h-full inner top-0 left-0">
      <ArrowUpRightBold
        width="32"
        class:list={["absolute top-0 left-0", colorClassObject]}
      />
      <ArrowUpRightBold
        width="32"
        class:list={["absolute top-full -left-full", colorClassObject]}
      />
    </div>
  </div>
</a>

<style>
  .inner {
    transition:
      left,
      top,
      0.3s ease;
  }

  a:hover .inner {
    @apply -top-8 left-8;
  }
</style>
