---
import { SITE_TITLE } from "../consts";
---

<nav class="fixed lg:sticky top-0 left-0 w-full p-6 z-10 bg-white">
    <div class="mx-auto max-w-7xl flex items-center">
        <div class="mr-auto">
            <a href="/">
                <h2 class="font-primary font-bold text-xl">{SITE_TITLE}</h2>
            </a>
        </div>

        <div class="ml-auto">
            <a class="font-secondary text-lg">About Us</a>
        </div>
    </div>
</nav>
