---
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Meta title={title} description={description} />
		<meta property="og:type" content="website" />
	</head>

	<body>
		<slot />
	</body>
</html>
